<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<h1>掲示板アプリケーション</h1>

   <form  action="article.html" th:action="@{/article/insertArticle}" method="post" >
       投稿者名：<input type="text" name="name" > <br>
       投稿内容：<textarea name="content" rows="5" cols="30"></textarea> <br>
       <input type="submit"  value="記事投稿">
     </form>

  <div th:each="article:${articleList}">
  <hr>
    <table>
      <tr>
        <td>投稿ID</td>
        <td th:text="${article.id}"></td>
      </tr>
      <tr>
        <td>投稿者名</td>
        <td th:text="${article.name}"></td>
      </tr>
      <tr>
        <td>投稿内容</td>
        <td th:text="${article.content}"></td>
      </tr>
    </table>
		<a href="article.html" th:href="@{/article/deleteArticle}"><button type="button" name="button" >投稿削除</button></a>

    <br>
    <table th:each="comment:${article.commentList}">
      <tr>
        <td>コメントID</td>
        <td th:text="${comment.id}"></td>
      </tr>
      <tr>
        <td>コメント者名</td>
        <td th:text="${comment.name}"></td>
      </tr>
      <tr>
        <td>コメント内容</td>
        <td th:text="${comment.content}"></td>
      </tr>
    </table>
    <br>
     <form  action="index.html" th:action="@{/article/insertComment}"method="post">
     コメント者名：<input type="text" name="name" > <br>
     コメント内容： <textarea name="content" rows="5" cols="30"></textarea> <br>
      <input type="hidden" name="articleId" value="" th:value="${article.id}">
			<input type="submit"  value="コメント投稿">
    </form>

<hr>
  </div>


</body>

</html>
